<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RTSP Recorder</title>
    <link href="../static/output.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
    <div class="container mx-auto p-4">
        <h1 class="text-2xl font-bold mb-4">RTSP Recorder</h1>
        <form action="/start" method="post" class="mb-2">
            <div class="mb-4">
                <label for="rtsp_url" class="block text-gray-700 text-sm font-bold mb-2">RTSP URL:</label>
                <input placeholder="rtsp://<username>:<password>@<camera-ip>:<port>/<optional>" type="text" id="rtsp_url" name="rtsp_url" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="mb-4">
                <label for="segment_time" class="block text-gray-700 text-sm font-bold mb-2">Segment Time (seconds):</label>
                <input value=900 type="number" id="segment_time" name="segment_time" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
            </div>
            <div class="mb-4">
                <label for="subfolder" class="block text-gray-700 text-sm font-bold mb-2">Subfolder (optional):</label>
                <input placeholder="subfolder" type="text" id="subfolder" name="subfolder" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
            </div>
            <div class="mb-4">
                <label for="video_format" class="block text-gray-700 text-sm font-bold mb-2">Video Format:</label>
                <select name="video_format" id="video_format" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                    Video Format:
                    <option value="avi">avi</option>
                    <option value="mp4" selected>mp4</option>
                </select>
            </div>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Start Recording
            </button>
        </form>
        <form action="/stop" method="post">
            <button type="submit" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                Stop Recording
            </button>
        </form>
    </div>
</body>
</html>
